In [1]:
import dask
import dask.dataframe as dd
import pandas as pd

from dask.distributed import Client

In [2]:
client = Client()
client

In [13]:
ddf = dask.datasets.timeseries()
ddf

Dask DataFrame Structure:
                  name     id        x        y
npartitions=30
2000-01-01      object  int64  float64  float64
2000-01-02         ...    ...      ...      ...
...                ...    ...      ...      ...
2000-01-30         ...    ...      ...      ...
2000-01-31         ...    ...      ...      ...
Dask Name: make-timeseries, 1 graph layer

In [14]:
ddf.head(2)

                        name    id         x         y
timestamp
2000-01-01 00:00:00  Michael  1020 -0.798080  0.044098
2000-01-01 00:00:01  Norbert   932 -0.518513 -0.157211

In [15]:
pdf = ddf.compute()
print(type(pdf))
pdf.head(2)

<class 'pandas.core.frame.DataFrame'>

                        name    id         x         y
timestamp
2000-01-01 00:00:00  Michael  1020 -0.798080  0.044098
2000-01-01 00:00:01  Norbert   932 -0.518513 -0.157211

In [16]:
print(f'Pandas shape: {pdf.shape}')
print('---------------------------')
print(f'Dask lazy shape: {ddf.shape}')

Pandas shape: (2592000, 4)
---------------------------
Dask lazy shape: (Delayed('int-6327fb06-d1e5-49d9-97e6-61c50cbc397d'), 4)

In [17]:
print(f'Dask computed shape: {len(ddf.index):,}')

Dask computed shape: 2,592,000

In [18]:
ddf2 = dask.dataframe.from_pandas(pdf, npartitions=10)
ddf2

Dask DataFrame Structure:
                       name     id        x        y
npartitions=10
2000-01-01 00:00:00  object  int64  float64  float64
2000-01-04 00:00:00     ...    ...      ...      ...
...                     ...    ...      ...      ...
2000-01-28 00:00:00     ...    ...      ...      ...
2000-01-30 23:59:59     ...    ...      ...      ...
Dask Name: from_pandas, 1 graph layer

In [19]:
pdf2 = pdf.reset_index()
pdf2.loc[0]

timestamp    2000-01-01 00:00:00
name                     Michael
id                          1020
x                       -0.79808
y                       0.044098
Name: 0, dtype: object

In [22]:
ddf2 = ddf2.reset_index()
ddf2.loc[0].compute()

/home/sakaban/anaconda3/envs/sa39new/lib/python3.9/site-packages/distributed/client.py:3163: UserWarning: Sending large graph of size 99.75 MiB.
This may cause some slowdown.
Consider scattering data ahead of time and using futures.
  warnings.warn(

   level_0  index  timestamp      name    id         x         y
0        0      0 2000-01-01   Michael  1020 -0.798080  0.044098
0        0      0 2000-01-04     Wendy   989 -0.126801 -0.199576
0        0      0 2000-01-07    Victor   987  0.440070  0.725819
0        0      0 2000-01-10    Ingrid   990  0.942051  0.993925
0        0      0 2000-01-13       Dan  1007  0.139058  0.196011
0        0      0 2000-01-16  Patricia   950 -0.786682  0.003924
0        0      0 2000-01-19    George  1005 -0.187050 -0.094583
0        0      0 2000-01-22       Dan   951  0.588634  0.231187
0        0      0 2000-01-25     Edith   966  0.848066 -0.692584
0        0      0 2000-01-28   Charlie   988 -0.158700 -0.127511